.card-container {
  border: 2px solid red;
}

.card-container:hover {
  background-color: yellow;
  cursor: pointer;
}

.card-poster-path {
  width: 60%;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}