body, html {
  background-color: rgb(50, 50, 50);
}

.card-container {
  display: grid;
  margin: 11% 0% -10% 7%;
}

.card-poster-path {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.card-poster-path:hover {
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fe132b,
    0 0 0.8rem #fe1313,
    0 0 2.8rem #fe1342,
    inset 0 0 1.3rem #fe1390; 
  cursor: pointer;
}

.rating-number {
  font-size: 16px;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 20%;
  color: white;
}

.loading {
  position: fixed;
  bottom: 0%;
  right: -1%;
  z-index: 0;
  height: 10%;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 24%;
  padding-left: 2%;
  padding-right: 5%;
  border: 1px;
  z-index: 1;
}

@media screen and (max-width: 1270px) {
  
  .movies-container {
   
    margin-top: 30.5%;
  }
}

@media screen and (max-width: 1180px) {
  
  .movies-container {
   
    margin-top: 35.5%;
  }
}

@media screen and (max-width: 930px) {
  
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45.5%;
  }
  .search {
    width: 60%;
    padding-right: 10%;

  }
}
@media screen and (max-width: 715px) {
  
  .movies-container {
    margin-top: 55.5%;
  }
 
}

@media screen and (max-width: 590px) {
  
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 66.5%;
  }

  .search {
    padding-right: 25%;
  }
}