.card-container {
  /* border: 2px solid red; */
  
  display:grid;
  margin: .5px 1px .5px 2px

}

.card-container:hover {
  background-color: yellow;
  cursor: pointer;
}

.card-poster-path {
  width: 60%;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}