.focus-container {
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.focus-flex {
  display: flex;
}

.focus-title, .focus-description, .focus-movie-overview {
  margin-left: 45px;
  text-shadow: 2px 2px black;
}

.focus-button {
  margin-left: 45px;
  height:30px;
  width:70px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color:black;
  cursor: pointer;
}

.focus-title {
  padding-top: 23%;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: -5px;
  text-shadow: 2px 2px black;
}

.focus-movie-overview {
  width: 50%;
  text-shadow: 2px 2px black;
}

.focus-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}

.focus-genres {
  display:flex;
  flex-direction: row;
  width: 30%;
}

.all-genres {
  margin-right: 5%;
}

.movie-summary {
  font-size: 2.7vh;
}

/* .iframe-wrap {
  height: 100%;
} */