.focus-container {
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: auto;
}

.focus-container, .focus-flex {
  display: flex;
  align-items: center;
}

.focus-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.focus-title, .focus-info, .focus-overview, .focus-genres {
  text-shadow: .5px .5px black;
  text-align: center;
}

.focus-title {
  font-size: 6vw;
  line-height: 90%;
  margin-bottom: -2%;
}

.focus-info {
  margin-bottom: -2.25%;
}

.focus-overview {
  font-size: 1.5vw;
  inline-size: 65%;
  margin-bottom: -.5%;
}

.focus-genres {
  font-size: .7vw;
}

.focus-button {
  height: 3vh;
  width: 3vw;
  font-size: 0.8vw;
  border: none;
  border-radius: 3px;
}

.focus-button:hover {
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fe132b,
    0 0 0.8rem #fe1313,
    0 0 2.8rem #fe1342,
    inset 0 0 1.3rem #fe1390; 
  cursor: pointer;
}

.iframe-wrap {
  padding-right: 7%;
}