.nav-bar {
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 45%;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.6);
}

.nav-bar-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 45%;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.site-header {
  font-size: 5.5vh;
  padding-top: 5%;
  color:white
}

.nav-preview {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0 20%;
}

.nav-preview-info {
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 4%;
}

.more-info-button {
  height:30px;
  width:80px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color:black;
}

.more-info-button:hover {
  cursor: pointer;
}

.preview-title {
  font-size: 5vh;
}

