.nav-bar {
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 45%;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.site-header {
  font-size: 5.5vh;
  padding-top: 5%;
  color:white;
}

.nav-preview {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 0 20%;
}

.nav-preview-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-shadow: .5px .5px black;
  margin-left: 4%;
}

.preview-title {
  font-size: 5vw;
  margin-bottom: -1.8%;
}

.preview-info {
  font-size: .8vw;
  margin-bottom: -.8%;
}

.preview-tagline {
  font-size: 1.3vw;
  margin-bottom: 1%;
}

.preview-genres {
  font-size: .75vw;
  margin-bottom: .3%;
}

.more-info-button {
  height:30px;
  width:80px;
  border: none;
  border-radius: 3px;
  background-color: white;
  color:black;
}

.more-info-button:hover {
  box-shadow:
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fe132b,
    0 0 0.8rem #fe1313,
    0 0 2.8rem #fe1342,
    inset 0 0 1.3rem #fe1390; 
  cursor: pointer;
}